#!/bin/bash
JAVA_HOME={{ logstash_java_home }}
PATH=$PATH:$JAVA_HOME/bin

pid=`ps aux | grep 'logstash/runner.rb' | grep -v grep | awk '{print $2}'`
echo $pid
kill -9 $pid 2>/dev/null

#cd {{ logstash_home_dir }}/logstash-{{ logstash_version }}
#rm -rf ./nohup.out
#nohup ./bin/logstash -f ./shipper.conf > ./nohup & 
